@font-face {
    font-family: 'Game Of Squids';
    src: url('Polices/Game Of Squids.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root {
    --color-fond : #0F0C15;
    --color-fonctionnalite : #9D4EDD;
    --color-juste : #00F5D4;
    --color-erreur : #FF007F;
    
    --color-vrai1: rgb(78, 230, 40);
    --color-vrai2: rgb(251, 255, 0);
}

body {
    background-color: #141316;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(117, 117, 117, 0.5);
    padding-block: 1.5ch;
    padding-bottom: 3.5ch;
    margin-top: 1.5ch;
    margin-inline: 5ch;
}

#logo-header {
    display: flex;
    flex-direction: row;
    gap: 2ch;
    justify-content: center;
    align-items: center;
}

#logo-header h1 {
    font-size: 45px;
    font-family: 'Game Of Squids', monospace;
    letter-spacing: 5px;    
    color: white;
    text-shadow: 1px 3px 4px rgba(170, 170, 170, 0.7);
}

#logo-header h1 #special1 {
    color: white;
}

#logo-header h1 #special2 {
    color: rgba(97, 247, 59, 1);
}

#navigation-header {
    display: flex;
    flex-direction: row;
    gap: 3.5ch;
    border-radius: 15px;
    padding-inline: 1ch;
    padding-block: 1ch;
    opacity: 0.9;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(117, 117, 117, 0.1);
}

.link-navigation-header {
    display: flex;
    flex-direction: row;
    gap: 1.7ch;
    text-align: center;
    padding-inline: 1.5ch;
    justify-content: center;
    align-items: center;
    color: rgb(150, 150, 150);
    transition: 0.3s ease;
}

.link-navigation-header a {
    text-decoration: none;
    color: rgb(150, 150, 150);
    transition: 0.3s ease;
}

.link-navigation-header i {
    font-size: 18px;
}

.link-navigation-header:hover {
    color: rgb(251, 255, 0);
}

.link-navigation-header a:hover {
    color: rgb(251, 255, 0);
}

#link-special {
    background-color: rgba(97, 247, 59, 1);
    border-radius: 10px;
    padding-inline: 2ch;
    padding-block: 1ch;
}

#link-special a {
    color: white;
}

#link-special i {
    margin-top: 3px;
    color: white;
}

#user-header {
    display: flex;
    flex-direction: row;
    gap: 2ch;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(117, 117, 117, 0.1);
    border-radius: 20px;
    padding-inline: 2.5ch;
    padding-block: 0.7ch;
    cursor: pointer;
}

#user-header img {
    width: 3vw;
    height: 6vh;
    border: 1px solid rgb(251, 255, 0);
    border-radius: 50%;
}

#user-header p {
    color: white;
}

.section-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2ch;
    padding-block: 2ch;
    background-color: rgba(80, 80, 80, 0.1);
    /* border: 1px solid red; */
    border-radius: 10px;
    margin-block: 2.5ch;
    margin-inline: 5ch;
}

.section-option-left, .section-option-right {
    display: flex;
    flex-direction: row;
    gap: 2.5ch;
    align-items: center;
    justify-content: center;
}

.section-option-time, .section-option-mode {
    display: flex;
    flex-direction: row;
    gap: 1.5ch;
    align-items: center;
    justify-content: center;
    padding-inline: 2.5ch;
    padding-block: 0.8ch;
    border-radius: 7.5px;
    color: rgb(150, 150, 150);
    background-color: rgba(61, 61, 61, 0.3);
}

.section-option-time {
    border: 1px solid rgba(97, 247, 59, 1);
    color: rgba(97, 247, 59, 1);
    box-shadow: 1px 1px 3px rgba(97, 247, 59, 0.4);
}

.section-option-time #time {
    border: none;
    background-color: rgba(90, 90, 90, 0.5);
    color: white;
    border-radius: 3px;
    padding-inline: 3px;
    padding-block: 0.3ch;
    margin-top: 2.5px;
}

.section-option-mode #word {
    border: none;
    background-color: rgba(90, 90, 90, 0.5);
    color: white;
    border-radius: 3px;
    padding-inline: 3px;
    padding-block: 0.3ch;
    margin-top: 2.5px;
}

.section-option-left button, .section-option-right button {
    border: none;
    padding-inline: 2.5ch;
    padding-block: 1.25ch;
    border-radius: 7.5px;
    color: rgb(150, 150, 150);
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(61, 61, 61, 0.3);
    transition: 0.3s ease-in-out;
}

.section-option-left button:hover {
    box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.5);
}

.section-option-right button:hover {
    box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.5);
}

.section-option-right #level-actual {
    color: rgb(251, 255, 0);
    border: 1px solid rgb(251, 255, 0);
    background-color: rgba(36, 36, 36, 0.5);
    box-shadow: 1px 1px 3px rgba(251, 255, 0, 0.3);
}

.section-option-left p {
    color: rgba(97, 247, 59, 1);
    font-weight: 500;
}

.section-option-right p {
    color: rgb(251, 255, 0);
    font-weight: 500;
}
