* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root {
    --color-fond : #0F0C15;
    --color-fonctionnalite : #9D4EDD;
    --color-juste : #00F5D4;
    --color-erreur : #FF007F;
    
    --color-vrai1: rgb(78, 230, 40);
    --color-vrai2: rgb(251, 255, 0);
}

body {
    background-color: #141316;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(117, 117, 117, 0.5);
    padding-block: 1.5ch;
    padding-bottom: 3.5ch;
    margin-top: 1.5ch;
    margin-inline: 5ch;
}

#logo-header {
    display: flex;
    flex-direction: row;
    gap: 2ch;
    justify-content: center;
    align-items: center;
}

#logo-header h1 {
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

#logo-header h1 #special1 {
    color: white;
}

#logo-header h1 #special2 {
    color: rgba(97, 247, 59, 1);
}

#navigation-header {
    display: flex;
    flex-direction: row;
    gap: 5ch;
    border-radius: 15px;
    padding-inline: 1ch;
    padding-block: 1ch;
    opacity: 0.9;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(117, 117, 117, 0.1);
}

.link-navigation-header {
    display: flex;
    flex-direction: row;
    gap: 2ch;
    padding-inline: 1.5ch;
    justify-content: center;
    align-items: center;
}

.link-navigation-header a {
    text-decoration: none;
    color: rgb(150, 150, 150);
    transition: 0.3s ease;
}

.link-navigation-header a:hover {
    color: rgb(251, 255, 0);
}

#link-special {
    background-color: rgba(97, 247, 59, 1);
    border-radius: 10px;
    padding-inline: 2ch;
    padding-block: 1ch;
}

#link-special a {
    color: white;
}

#user-header {
    display: flex;
    flex-direction: row;
    gap: 2ch;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(117, 117, 117, 0.1);
    border-radius: 20px;
    padding-inline: 2.5ch;
    padding-block: 0.7ch;
    cursor: pointer;
}

#user-header img {
    width: 3vw;
    height: 6vh;
    border: 1px solid rgb(251, 255, 0);
    border-radius: 50%;
}

#user-header p {
    color: white;
}


.section-switch input {
    display: none;
}

.section-switch {
    display: inline-block;
    width: 4.5vw;
    height: 4.5vh;
    cursor: pointer;
    position: relative;
}

.switch-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 35px;
    transition: 0.4s;
}

.switch-button::before {
    content: "";
    width: 1.65vw;
    height: 3vh;
    position: absolute;
    left: 6px;
    bottom: 4.5px;
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
    transition: 0.3s;
}

.section-switch input:checked + .switch-button {
    background-color: #2ec4b6;
}

.section-switch input:checked + .switch-button::before {
    transform: translateX(25px);
}
